$green1: #2ecc71;
$green2: #27ae60;
$blue1: #3498db;
$orange1: #e67e22;
$orange2: #fd6a02;
$yellow1: #f1c40f;
$red1: #e74c3c;
$card-bg: rgba(255, 255, 255, 0.2);
$white1: #fff;
$white2: #ddd;
$black: #111;
$grey1: #aaa;
$bg-1: #12252f;
$bg-2: #153835;
$bg-3: #5fa18d;
$bg-4: #60a08a;

* {
    margin: 0;
    padding: 0;
}
